// 全局配色
$green                     : green;
$content_bg                : #E8EBF0;
$content_title_bg          : #F7F8FA;
$border_color              : #fff;
$dashed_color              : #E4E6ED;
$sidebar_bg                : #29282E;
$sidebar_active            : #47bac2;
$sidebar_color             : #FFFFFF;
